.modal-overlay {
    position: fixed;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.051); */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease;
  }
 
  .modal-content {
    background: #fff;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    width: 300px;
    animation: slideIn 0.3s ease;
  }
  
  .modal-content h2 {
    text-align: center;
  }
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  form input,
  form select {
    width: 110%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgba(12, 72, 122, 0.178);
    border-radius: 10px;
    outline: none;
  }
  
  .btn-submit {
    display: block;
    width: 40%;
    background-color: rgb(20, 205, 199);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
  }
  .btn-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .btn-submit:hover {
    background-color: rgb(26, 190, 185);
  }
  
  .close-modal-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%;
  }
  
  /* Dropdown Menu Styles */
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(0);
    }
  }  
